node_modules/
*.log
.env
**/test-*.xml
mochawesome-report/
myvalues.yaml
secrets.sh
.secrets
myparams.json

*.terraform.lock.hcl
*.terraform/
*.terraform/terraform.tfstate 
*.terraform/terraform.tfvars
*.terraform/terraform.tfvars.json
*.terraform/terraform.tfstate
*.terraform/terraform.tfstate.backup
*.terraform/log

*terraform.tfvars
*.tfstate
*.tfvars 



